/* h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black
}

.container{border-radius:10px; background-color: #BD9D5F;
    width: 100%; 
    height:auto;
}
.container button {border-radius:10px; background-color: #2C4B4D;
}

.container input {border-radius:10px;
}

.container2 {border-radius:10; background-color: #D9D9D9;
} */