
.container {
    width: 100%; 
    height:auto ;
    background-color:#345457;
    display: flex;
  justify-content: space-around;
    flex-direction: row;
}

.container p{
    margin: 10px;
    color:#BEA573;
    font-weight: 400;

.magicb {
    background-color: #BEA573; 

}