.container {
    width: 50%; 
    height:auto ;
    background-color:#3B5B5E;
    display: flex;
  justify-content: space-around;
    flex-direction: row;
}

.container p{
    margin: 10px;
    color:#BEA573;
    font-weight: 400;
}

.magicb {
    background-color: #BEA573; 
    height: 60%;
}