background-color: {
}

.boton {
    background-color: #2C4B4D;
}

.encabezado {
    background-color: #BEA573;
}

.boton {
}

.boton {
}

.ColorNav {
    background-color: #BEA573;
}

.FooterColor {
    background-color: #345457;
}

.ColorFuente {
    color: #bea573;
}