body{
    background-image: url("../assets/fondoRegistroUsuario.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#logo{
    margin: 20px 20px;
    width: 150px;
    height: 150px;
}

.row{
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 25px;

}

p{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #2C4B4D;
}

#boton{
    background-color: #2C4B4D;
    border-color: #2C4B4D;
}

#boton2{
    color: #2C4B4D;
}

#datos{
    margin: 8px;
}


#top, #base, #base2{
    align-content: center;
    text-align: center;
    padding: 5px;
}
  
@media screen and (max-width: 768px) {
    .container {
      width: calc(100% - 40px);
      max-width: 100%; }
}